.container {
  background-color: darkslategrey;
  padding: 30px;
  height: 100%;
}

.titleCard{
  width: 100%;
  color: white;
  display: flex;
  padding-left: 20px ;
}

.userCard {
  padding: 20px;
  margin: 20px;
  width: 80%;
  justify-content: center;  
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0 0 0 / 35%);
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0 0 0 / 35%);
}

.itemCard{
  color: darkslategrey;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
